<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../components/data-card.html">

<dom-module id="filter-print">
    <template>
        <style>
            :host{
                margin: auto;
                max-width: 625px;
                display: block;
            }

            paper-slider{
                min-width: 300px;
            }

            paper-button{
                float: left;
                width: 96%;
                display: block;
                margin: 8px;
            }

            paper-button.filter{
                background-color: var(--paper-teal-400);
            }

            paper-button.clear{
                background-color: var(--paper-red-400);
            }

            .card{
                float: left;
            }
        </style>
        <paper-card>
            <table>
                <tr>
                    <td>
                        <data-card class="card" label="Pressure">
                            <paper-slider id="ex1pressure" max="120" always-show-pin></paper-slider>
                            <paper-slider id="ex2pressure" max="120" always-show-pin></paper-slider>
                        </data-card>
                    </td>
                    <td>
                        <data-card class="card" label="Live/Dead">
                            <paper-slider id="livePercent" max="100" always-show-pin></paper-slider>
                            <paper-slider id="deadPercent" max="100" always-show-pin></paper-slider>
                        </data-card>
                    </td>
                </tr>
                <tr>
                    <td>
                        <paper-button class="filter" raised on-tap="filterData">Filter</paper-button>
                    </td>
                    <td>
                        <paper-button class="clear" raised on-tap="clearData">Clear</paper-button>
                    </td>
                </tr>
            <table>
        </paper-card>
    </template>

    <script>
        Polymer({
            is: 'filter-print',

            filterData: function(e){
                let ex1p = this.$.ex1pressure.value;
                let ex2p = this.$.ex2pressure.value;

                let args={"ex1p": ex1p, "ex2p": ex2p};
                this.fire("filter-data", args);
            },

            clearData: function(){
                 this.$.ex1pressure.value = 0;
                 this.$.ex2pressure.value = 0;
                 this.$.livePercent.value = 0;
                 this.$.deadPercent.value = 0;
            }
        });
    </script>
</dom-module>
