<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">

<link rel="import" href="../components/data-card.html">

<dom-module id="filter-print">
    <template>
        <style>
            :host{
                margin: auto;
                max-width: 625px;
                display: block;
            }

            paper-slider{
                min-width: 300px;
            }

            .card{
                float: left;
            }
        </style>
        <paper-card>
            <table>
                <tr>
                    <td>
                        <data-card class="card" label="Pressure">
                            <paper-slider id="ex1pressure" max="120" always-show-pin></paper-slider>
                            <paper-slider id="ex2pressure" max="120" always-show-pin></paper-slider>
                        </data-card>
                    </td>
                </tr>
            <table>
        </paper-card>
    </template>

    <script>
        Polymer({
            is: 'filter-print'
        });
    </script>
</dom-module>
