<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">


<!-- Allows the user to enter a serial number to search on. -->
<dom-module id="user-search">
    <template>
        <style>
            :host {
                  margin: auto;
                  max-width: 310px;
                  display: block;
            }

            paper-card{
                padding: 8px;
            }

            paper-input {
                display: inline-flex;
                padding: 0px;
                margin: 0px 8px;
            }

            paper-button{
                padding: 8px 8px;
                background-color: #29B6F6;
            }
        </style>
        <iron-a11y-keys target="[[termInput]]" keys="enter" on-keys-pressed="notifyTermChanged"></iron-a11y-keys>
        <paper-card>
            <paper-input id="termInput" no-label-float label="Serial"></paper-input>
            <paper-button raised on-tap="notifyTermChanged">Search</paper-button>
        </paper-card>
    </template>

    <script>
        Polymer({
            is: 'user-search',

            properties: {
                term: String
            },

            notifyTermChanged: function(e){
                this.term = this.$.termInput.value;
                let args = {};

                if (!isNaN(this.term)){     // The term is a number -> serial
                    args = {serial: parseInt(this.term, 10)};
                }
                else {                      // The term is a string -> email
                    args = {email: this.term};
                }
                this.fire("term-changed", args);    // fire a custom event with args
            }
        });
    </script>
</dom-module>
