<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../components/view-print.html">
<link rel="import" href="../components/filter-print.html">


<!-- Used to display all of the print records belonging to a single user. -->
<dom-module id="view-user">
  <template>
      <style>
          paper-spinner-lite{
                display: block;
                margin: auto;
                margin-top: 20%;
                width: 60px;
                height: 60px;
                --paper-spinner-stroke-width: 6px;
            }
            .notice {
                margin: auto;
                max-width: 325px;
                display: block;
                padding: 12px;
                --header-color: #FFA726;
            }
            .notice-text{
                padding: 8px;
                font-size: 14pt;
            }
      </style>
      <template is="dom-if" if="{{noData}}">
          <data-card class="notice" label="Error">
            <p class="notice-text">
                There are no results for your search term.  Please try a different one.
            </p>
          </data-card>
      </template>
      <data-label id="userLabel" size="65%" data="[[combineEmailAndSerial(email, serial)]]"></data-label>
      <data-label id="printLabel" size="25%" data="[[printCount]]"></data-label>

      <template is="dom-if" if="{{loading}}">
        <paper-spinner-lite active></paper-spinner-lite>
      </template>

      <filter-print id="filterInput" hidden></filter-print>
    <template is="dom-repeat" items="{{data}}">
        <view-print data ='{{item}}'></view-print>
    </template>
  </template>

  <script>
      Polymer({
          is: 'view-user',

          properties: {
              data: Object,
              serial: Number,
              printCount: Object,
              loading: Boolean,
              email: {
                  type: String,
                  computed: 'lookupEmail(hasEmail, serial)' // makes this.email read-only
              },
              hasEmail: {
                  type: Boolean,
                  value: false
              },
              _email: String,    // Used to store the email address, since this.email is read-only
              noData: {
                  type: Boolean,
                  value: false  // default to false at first since this.data is undefined, not empty.
              }
          },

          listeners: {
              "filterInput.filter-data": "filterData"
          },

          filterData: function(e){
              let sample = this.data.filter(function(object){
                  if (object.print_info.pressure.extruder1 == e.detail.ex1p &&
                  object.print_info.pressure.extruder2 == e.detail.ex2p){
                      return true;
                  }
                  return false;
              });
              this.data = sample;
          },

          lookupEmail: function(hasEmail, serial){
              if (hasEmail == false){
                  Meteor.call('findUserEmail', serial, (err, result) => {
                      this._email = result;
                      this.hasEmail = true;
                  });
              }
              return this._email;
          },

          combineEmailAndSerial: function(email, serial){
              email = this.lookupEmail(this.hasEmail, serial);
              return [{ "email": email}, {"serial": serial} ];
          },

          loadData: function(serial){
              this.loading = true;
              this.data = [];
              Meteor.call('findUserData', serial, (err, result) => {
                  this.data = result;

                  this.noData = (this.data.length == 0);
                  this.$.printLabel.hidden = this.noData;   // hide these labels if there is no data to show
                  this.$.userLabel.hidden = this.noData;
                  this.$.filterInput.hidden = this.noData;

                  this.printCount = [{"prints": this.data.length}];
                  this.loading = false;
              });
          },

          attached: function(){
              if (this.serial != null){
                  this.loadData(this.serial);
              }
          }
      });
  </script>
</dom-module>
