<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="../components/data-card.html">
<link rel="import" href="../components/data-meter.html">
<link rel="import" href="../components/data-number.html">
<link rel="import" href="../components/data-label.html">

<!-- Used to display the groups of data for a single print. -->
<dom-module id="view-print">
  <template>
    <style>
        :host {
            margin: auto;
            max-width: 825px;
            display: block;
        }
        paper-card {
            margin: 6px;
            padding: 6px;
        }

        .live {
            --meter-color: #26A69A;
        }

        .dead {
            --meter-color: #ef5350;
        }
    </style>

    <paper-card>
        <data-label size="65%" data='[[files]]'></data-label>
        <data-label size="30%" data='[[wellplates]]'></data-label>

        <data-card label="Pressure">
          <data-meter cap="120" val="[[ex1p]]" units="PSI"></data-meter>
          <data-meter cap="120" val="[[ex2p]]" units="PSI"></data-meter>
        </data-card>

        <data-card label="Resolution">
            <data-meter cap="1" val="[[layerHeight]]" units="mm"></data-meter>
            <data-number label="Layers" val="[[layerNum]]"></data-number>
        </data-card>

        <data-card label="Crosslinking">
            <data-meter cap="100" val="[[crosslinkIntensity]]" units="%"></data-meter>
            <data-number label="Duration" val="[[crosslinkDuration]]" units="ms"></data-number>
        </data-card>

        <data-card label="Live/Dead & Elasticity">
            <data-meter class="live" cap="100" val="[[live]]" units="%"></data-meter>
            <data-meter class="dead" cap="100" val="[[dead]]" units="%"></data-meter>
            <data-number label="Elasticity" val="[[elasticity]]" units="kPa"></data-number>
        </data-card>
    </paper-card>
  </template>

  <script>
      Polymer({
          is: 'view-print',

          properties: {
              data: Object,
              files: Object,
              wellplates: Object,
              ex1p: Number,
              ex2p: Number,
              layerHeight: Number,
              layerNum: Number,
              crosslinkIntensity: Number,
              crosslinkDuration: Number,
              live: Number,
              dead: Number,
              elasticity: Number
          },

          attached: function(){
              this.files =
                    [{"input": this.data.print_info.files.input},
                     {"output": this.data.print_info.files.output}];

              this.wellplates = [{"wellplates": this.data.print_info.wellplate}];
              this.ex1p = this.data.print_info.pressure.extruder1;
              this.ex2p = this.data.print_info.pressure.extruder2;
              this.layerHeight = this.data.print_info.resolution.layerHeight;
              this.layerNum = this.data.print_info.resolution.layerNum;
              this.crosslinkIntensity = this.data.print_info.crosslinking.cl_intensity;
              this.crosslinkDuration = this.data.print_info.crosslinking.cl_duration;
              this.live = this.data.print_data.livePercent;
              this.dead = this.data.print_data.deadPercent;
              this.elasticity = this.data.print_data.elasticity;

          }
      });
  </script>
</dom-module>
