<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../components/view-print.html">

<!-- Used to display all of the print records belonging to a single user. -->
<dom-module id="view-user">
  <template>
    <view-print data='{"print_info": {"pressure": {"extruder1": 29.0,"extruder2": 57.0}}}'></view-print>
  </template>

  <script>
      Polymer({
          is: 'view-user',

          properties: {
              data: Object,
          }
      });
  </script>
</dom-module>
